<div class="container">
    <h2>Login or Sign Up</h2>
    <form  #loginForm="ngForm" (ngSubmit)="login(loginForm.value.id,loginForm.value.password)">
      <div class="form-group">
        <label for="id">User ID</label>
        <input type="number" ngModel name="id" placeholder="Enter User ID" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" ngModel name="password" placeholder="Enter Password" required>
      </div>
      <button type="submit" [disabled]="loginForm.invalid" class="login-button">Login</button>
    </form>
     <p>Don't have an account? <a routerLink="/register">Sign Up</a></p>
  </div>
  