<!-- cart-details.component.html -->
<div class="cart-details-container">
  <h2>Cart Details</h2>
  <div *ngIf="cartData.productLists && cartData.productLists.length > 0; else emptyCart">
    <ul class="cart-list">
      <li *ngFor="let productItem of cartData.productLists" class="cart-item">
        <div>
          <h3>{{ productItem.product.name }}</h3>
          <p>{{ productItem.product.description }}</p>
        </div>
        <div class="item-details">
          <p>MRP: ₹{{ productItem.product.mrp }}</p>
          <p>Discount: {{ productItem.product.discountPercentage }}%</p>
          <p>Tax: {{ productItem.product.tax }}%</p>
          <p>Manufacturing Date: {{ productItem.product.mfgDate }}</p>
          <p>Expiry Date: {{ productItem.product.expDate }}</p>
          <p>Quantity: {{ productItem.quantity }}</p>
          <br>
          <p>Total Cost:{{productItem.totalCost}}₹</p>
          <br>
          <button (click)="removeProduct(productItem.product.id)">Remove from Cart</button>
        </div>
      </li>
    </ul>
  </div>
  <ng-template #emptyCart>
    <p>Your cart is empty.</p>
  </ng-template>

  <div class="total-info">
    <p>Total Cost: ₹{{ cartData.allTotalCost }}</p>
  </div>
</div>
